node_modules/
.env
.env.local
.env.*.local
dist/
coverage/
.nyc_output/
logs/*.log
!logs/.gitkeep
uploads/temp/*
!uploads/temp/.gitkeep
.DS_Store
*.pem
.idea/
.vscode/
purgeAndAdmin.js
seedData.js
seedElAlto.js

# Serverless directories
.serverless/